@import 'CSS/variables';

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}


/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
Header styles
--------------------------------------------------------------*/

.masthead {
    padding: 1em;
    background-color: hsl(0, 0%, 95%);
}

@media screen and (min-width: 600px) {
    .masthead {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.site-branding {
    max-width: 40em;
    margin: 0 auto;
}

.site-title {
    font-size: 2em;
    text-align: center;
}

.site-title a {
    font-weight: 400;
    text-align: center;
    color: black;
    text-decoration: none;
}

.filter {
    max-width: 40em;
    margin: 0 auto 1em;
}

.filter-heading {
    font-weight: normal;
    font-size: 1.2em;
}

.radio-list {
    display: flex;
    flex-wrap: wrap;
}

.radio-list label {
    margin: 0 .4em .4em 0;
    padding: .6em .8em .6em;
    background: white;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 5px;
    display: flex;
    align-items: baseline;
}

.radio-list label:hover,
.radio-list label:focus {
    background: rgb(37, 37, 37);
    color: white;
}
.radio-list input {
    margin-right: .6em;
}
/*--------------------------------------------------------------
Mobile-first menu
--------------------------------------------------------------*/

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media screen and (min-width: 600px) {
    .main-nav ul {
        display: flex;
        flex-wrap: wrap;
    }
}

.main-nav a {
    display: block;
    padding: .6em 1em;
    color: white;
    border-left: 1px solid white;
}

.main-nav a:focus,
.main-nav a:hover {
    background: white;
    color: $navy;
}

@media screen and (min-width: 600px) {
    .main-nav a {
        border-left: none;
    }
}

.main-area {
    margin: 0 auto;
    max-width: 40em;
    padding: 1em;
    
}

.alert {
    /* margin: 1em; */
    padding: 0 1.5em;
    border: 3px solid red;
}

.resource-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.resource-list a.hide {
	display: none;
}

.resource-list a.all {
	display: block;
}

.resource-list li {
    margin-bottom: 1em;
}

.resource-list a {
    display: block;
    padding: 1em;
    border: 3px dashed grey;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition: border 1s;
}

.resource-list a:hover,
.resource-list a:focus {
    border: 3px solid black;
}

.resource-list a:hover > .name,
.resource-list a:focus > .name {
    text-decoration: underline;
}

.name {
    margin-top: 0;
    margin-bottom: .2em;
    font-size: 1.3em;
}

/*--------------------------------------------------------------
Footer styles
--------------------------------------------------------------*/

.footer {
    padding: 1em;
    background: hsl(0, 0%, 10%);
    color: $beige;
}

.widget {
    max-width: 40em;
    margin: 0 auto;
}

hr {
    margin: 2em 0;
    text-align: left;
}

.widget h3 {
    margin-bottom: 0;
    font-size: 1.4em;
    font-weight: normal;
}

.widget p {
    margin-bottom: 1em;
}
.widget a {
    color: white;
}

.footer a:hover,
.footer a:focus,
.footer a:visited {
    color: white;
}





