@import 'variables';
/*--------------------------------------------------------------
Footer styles
--------------------------------------------------------------*/

.footer {
    padding: 1em;
    background: hsl(0, 0%, 10%);
    color: $beige;
}

.widget-title {
    /* font-size: 1.3em; */
}

.footer-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-nav a {
    display: block;
    padding: .6em 1em;
    color: white;
}

.footer-nav a:focus,
.footer-nav a:hover {
    background: white;
    color: hsl(0, 0%, 10%);
}

